@font-face{
	font-family:"Pacifico-Regular";
	src:url("font/Pacifico-Regular.ttf");
}
@font-face{
	font-family:"MyriadProRegular";
	src:url("font/MyriadProRegular.ttf");
}
@font-face{
	font-family:"HelveticaHeavy";
	src:url("font/HelveticaHeavy.ttf");
}
.wrap-header{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: url("image/pattern.png");
	background-size: cover;
}
.header-content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 30px;
	margin-right: 40px;
}
.h-block{
	width: 450px;
}
.header-title{
	font-size: 72px;
	color: #fff;
	font-family:"Pacifico-Regular";
}
.header-text{
	font-size: 24px;
	color: #fff;
	font-family:"MyriadProRegular";
}
.iconwrap{
	display: flex;
	flex-direction: row;
	justify-content: center; 
}

.header-icon{
	border-radius: 50px;
	background: #000000;
	width: 50px;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	opacity: 0.5;
	margin-right: 15px;
	margin-top: 30px;
}
.header-icon:hover{
	opacity: 1;
}
.header-icon a{
	color: #fff;
}
.features{
	width: 1200px;
	margin: auto;
}
.features-wrap{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.header-img{
	margin-bottom: -4px;
	margin-top: 95px;
	margin-left: 40px;
}
.features-content{
	 text-align: center;
}
.content-tittle{
	font-size: 24px;
	font-family:"MyriadProRegular";
	font-weight: bold;
	padding-top: 60px;
}
.content-text{
	font-size: 16px;
	color: #848484;
	padding: 15px;
}
.features-block{
	position: relative;
	width: 310px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 10px;
}
.features-block:nth-child(-n+3){
	border-bottom: 1px solid #e5e5e5;
}
.features-block:nth-child(3n+2):before{
	content: " ";
	position: absolute;
	left: -50px;
	display: block;
	width: 1px;
	height: 200px;
	background-color: #e5e5e5;
}
.features-block:nth-child(3n+2):after{
	content: " ";
	position: absolute;
	right: -50px;
	display: block;
	width: 1px;
	height: 200px;
	background-color: #e5e5e5;
}
.block-title{
	padding: 30px;
	font-size: 24px;
	font-family:"MyriadProRegular";
	font-weight: bold;
}
.block-text{
	text-align: center;
	font-size: 16px;
	color: #848484;

}
.crazy{
	background:#e7e7e7;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;

}
.crazy-block{
	width: 35%;
	padding:60px;
}

iframe {border:10px solid #000;
    border-radius: 10px !important;
}
.crazy_title{
	font-size: 30px;
	font-family:"MyriadProRegular";
	font-weight: bold;
}
.crazy_title_text{
	font-size: 16px;
	color: #848484;
	padding-top: 15px;
}
.wrap-testimonials{
	width: auto;
	text-align: center;
	margin: auto;
	padding: 30px;
}

.crazy_title_icon{
	padding-left: 20px;
}
.testimonials-quote{
	font-family:"MyriadProRegular";
	font-size: 24px;
	color: #b5b5b5;
	width: 80%;
	margin:auto;

}
.testimonials-signature{
	font-family:"MyriadProRegular";
	font-size: 18px;
	color: #000;
	padding: 20px;
	font-weight: bold;
}
.wrap-pricing-plans{
	width: 100%;
	background: #e7e7e7;
	height: 580px;
}
.pricing-content{
	text-align: center;
	padding-top: 60px;
	margin: auto;
	width: 80%;
}
.pricing-title{
	font-family:"MyriadProRegular";
	font-size: 30px;
	color: #000;
	font-weight: bold;
}
.pricing-text{
	padding-top: 20px;
	font-family:"MyriadProRegular";
	font-size: 16px;
	color: #b5b5b5;
}
.wrap-packages{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 1200px;
	margin: auto;
}
.packages-block{
	width: 300px;
	padding: 60px 2px;

}
.packages-header{
	height: 60px;
	width: 100%;
	background: #3498db;
	color: #fff;
	font-family:"MyriadProRegular";
	font-size: 28px;
	text-align: center;
	line-height: 60px;
}
.packages-main{
	background: #fff;
}
.packages-footer{
	height: 80px;
	width: 100%;
	background: #3498db;
}
.packages-footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.purchase-wrap{
	height: 40px;
	width: 140px;
	background: #0d74b9;
	
}
.purchase{
	font-family:"MyriadProRegular";
	font-size: 15px;
	text-align: center;
	line-height: 40px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: bold;
}

.packages-main{
	text-align: center;
	padding: 20px;
}
.packages-price{
	font-size: 42px;
	color: #000;
}
.packages-content{
	font-size: 16px;
	color: #ccc;
}
.getintouch{
	width: 100%;
	padding-top: 100px;

}
.getintouch-title{
	padding-top: 80px;
	font-family:"MyriadProRegular";
	font-size: 30px;
	color: #000;
	font-weight: bold;
	text-align: center;
}
.getintouch-content{
	font-family:"MyriadProRegular";
	font-size: 16px;
	color: #b5b5b5;
	text-align: center;
}
.getintouch-wrapicon{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.getintouch-icon{
	border-radius: 50px;
	background: #000000;
	width: 50px;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	opacity: 0.5;
	margin-right: 15px;
	margin-top: 30px;
	color: #fff;
}
.getintouch-icon:hover{
	background: #3498db;
	opacity: 1;
}
footer{

}
.wrap-footer{
	width: 100%;
	background: #e3e3e3;
	margin-top: 60px; 
	height: 130px;
	line-height: 130px;
	display: flex;
	flex-direction: row;
	justify-content: center;

}
.wrap-footer a{
	font-family:"MyriadProRegular";
	font-size: 16px;
	color: #b5b5b5;
	text-decoration: none;
	padding: 0 15px;
}

@media all and (min-width: 1025px) and (max-width: 1200px){
.features{
	width: auto;
}
.features-block:nth-child(-n+3){
border: none;
}
.features-block:nth-child(3n+2):before{
	content: none;
}
.features-block:nth-child(3n+2):after{
	content: none;
}
.wrap-packages{
	width: auto;
}
}
@media all and (min-width: 768px) and (max-width: 1024px){
.header-content{
	margin-left: 10px;
}
.features-wrap{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.features{
	width: auto;
}
.features-block:nth-child(-n+3){
border: none;
}
.features-block:nth-child(3n+2):before{
	content: none;
}
.features-block:nth-child(3n+2):after{
	content: none;
}
.wrap-pricing-plans{
	height: auto;
}
.wrap-packages{
	width: auto;
}
}
@media all and (min-width: 460px) and (max-width: 767px){
.header-content{
	margin-left: 10px;
}
.header-title{
	font-size: 60px;
}
.header-text{
	font-size: 18px;
}
.img-hand img{
	width: 90%;
}
.features-wrap{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.features{
	width: auto;
}
.features-block:nth-child(-n+3){
border: none;
}
.features-block:nth-child(3n+2):before{
	content: none;
}
.features-block:nth-child(3n+2):after{
	content: none;
}
.crazy{
	flex-direction: column;
	align-items: center;
}
.crazy-block{
	width: 70%;
}
.wrap-pricing-plans{
	height: auto;
}
.wrap-packages{
	width: auto;
	flex-wrap: wrap;
	justify-content: space-around;
}
.wrap-footer-link a{
	font-size: 10px;
}
}
@media all and (min-width: 320px) and (max-width: 459px){
.header-content{
	margin-right: 0;
}
.header-content{
	margin-left: 10px;
}
.header-title{
	font-size: 55px;
}
.header-text{
	font-size: 18px;
}
.header-img{
	display: none;
}
.features-wrap{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.features{
	width: auto;
}
.features-block{
	padding: 20px 10px;
}
.features-block:nth-child(-n+3){
border: none;
}
.features-block:nth-child(3n+2):before{
	content: none;
}
.features-block:nth-child(3n+2):after{
	content: none;
}
.crazy-block{
	width: 70%;
}
.content-tittle{
	font-size: 30px;
}
.content-text{
	font-size: 12px;
}
.block-title{
	font-size: 20px;
}
.block-text{
	font-size: 12px;
}
.crazy{
	flex-direction: column;
	align-items: center;
}
.crazy_video{
	display: none;
}
.crazy_title {
	font-size: 20px;
}
.crazy_title_text  {
	font-size: 12px;
}
.testimonials-quote{
	font-size: 15px;
}
.testimonials-signature{
	font-size: 16px;
}
.pricing-title{
	font-size: 20px;
}
.pricing-text{
	font-size: 12px;
}
.wrap-pricing-plans{
	height: auto;
}
.wrap-packages{
	width: auto;
	flex-wrap: wrap;
	justify-content: space-around;
}
.getintouch-title{
	font-size: 20px;
}
.getintouch-content{
	font-size: 12px;
}
.getintouch-icon {
	width: 30px;
	height: 30px;
}
.wrap-footer-link a{
	font-size: 10px;
	padding: 0 10px;
}
}